@import '../../styles/globalVariable.css';
/* .home{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(180px,auto);
}
.home .box{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--soft-color);
    background-color: var(--soft-bg);
}
.box1{
    grid-column: span 1;
    grid-row: span 3;
}
.box4{
    grid-column: span 1;
    grid-row: span 3;
}
.box7{
    grid-column: span 2;
    grid-row: span 2;
} */


.home .box{
    /* padding: 20px;    */
    border-radius: 10px;
    /* border: 1px solid var(--soft-color); */
    /* background-color: var(--soft-bg); */
}
.home{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-auto-rows: (auto);
    gap: 20px;
}

.home .first-container .top-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.home .first-container .top-info .card{
    background-color: rgb(245, 237, 237);
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
.home .first-container .left-side-charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home .first-container .left-side-charts .three-combined{
    grid-column: span 1;
    grid-row: span 3;
}

.home .second-container{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: (auto); */
    gap: 5px;
    grid-template-rows: auto auto auto                                                                                                                                                                                                                              ;
}
