:root {
    /* Background Colors */
    --main-bg: #FFF8E1; /* Light Cream Orange */
    --white-color: #fff; /* White */
    --gtb-red: #dd4f05; /* Deep Orange */
  
    /* Text Colors */
    --main-color: #212121; /* Dark Gray for readability */
    --soft-color: #757575; /* Medium Gray */
    --dark-color: #FFFFFF; /* White for contrast */
  }